body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chart-container {
  margin-top: 100px;
  margin: auto;
  width: 1000px;
  height: 1000px;
}

.slider {
  /* use same width as .chart */
  width: inherit;
  margin-top: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  width: inherit;
}

.chart {
  margin-top: 20px;
}

.filter {
  display: inline-block;
  margin: 10px;
}

.MuiSlider-thumb {
  height: 22px !important;
  width: 22px !important;
  background-color: inherit !important;
  border: 2px solid currentColor !important;
  margin-top: -10px !important;
  box-shadow: none !important;
}

.view-filter {
  margin-bottom: 10px;
}

.scrollable-div {
  max-height: 200px; /* Adjust this value as needed */
  overflow-y: auto;
}

.project-title {
  font-family: 'Helevetica Neue', Helvetica, Arial, sans-serif !important;
  color: #fff !important;
  font-size: 24px !important;
  font-weight: bold !important;
  padding: 8px !important;
}

.appbar {
  background-color: #990011 !important;
}

.MuiButton-root {
  color: #ff6347 !important;
  margin: 5px !important;
  font-weight: bold !important;
  background-color: white !important;
  text-transform: none !important;
}